:root {
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --primary-accent-color:#2196F3;
    --secondary-accent-color:rgba(255,255,255,0.6);
    --tertiary-accent-color:#D9D9D9;
    --primary-background-color:#FFFFFF;
    --header-background-color:#FFFFFF;
    --footer-background-color:#2F303A;
    --portfolio-button-background-color:#F5F4FA;
    --outline: #EEEEEE;
    --social-icon-color: #AFB1B8;
    --duration: 250ms;
    --timing-fun: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
        background-color: var(--primary-background-color);
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
  
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
    font-weight: 500;
}

.section {
       padding-top: 94px;
    padding-bottom: 94px;
       }

.container {
width: 1200px;
margin-right: auto;
margin-left: auto;
padding-right: 15px;
padding-left:15px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}



<!--HEADER-->


.header {
background-color: var(--header-background-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}

.header-container {
display: flex;
align-items:center;
border-bottom: 1px solid #ECECEC;
}

.header-link {
    position: relative;
    display: flex;
    align-items:center;
    padding-top:32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fun);
}
  
.header-link:hover,
.header-link:focus, .current {
    color: var(--primary-accent-color);
}

.nav {
    display: flex;
    gap: 94px;
    align-items: center;
    color: var(--primary-text-color);
    }
    
.logo-link {
    display: inline-block;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
color: var(--primary-accent-color);
    
}

.logo-studio-header {
        color: #000000;
}

.nav-list {   
    display: flex;
    gap: 50px;
    
}

.current::after {
    display: block;
    position: absolute;
        bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-accent-color);
}

.contacts-list { 
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    
    }

.header-icon {
    
    fill: currentColor;
    margin-right: 10px;
}

/* HERO */

.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
                rgba(47,48,58,0.4),
                rgba(47,48,58,0.4)),
            url(../images/image17-index-overlay.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
          
    background-color: var(--footer-background-color);
    
}



.hero-title{
    max-width: 696px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-align: center;
text-transform: uppercase;
color: var(--primary-background-color);

}

.hero-button {
    display: flex;
    min-width: 200px;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;  
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid transparent;
    
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;

color: var(--primary-background-color);
background-color: var(--primary-accent-color);
}



.section-title {
margin-bottom:50px;
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: var(--primary-text-color);

}

<!-- Особенности (with the hidden title) -->

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
                }



.features-list-item {
    flex-basis: calc((100% - 90px)/4);
       
  } 

.features-icons {
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
  
   background-color: var(--portfolio-button-background-color); 

}

.antenna {
   display:block;
   width: 70px;
  height: 70px;
  
}

.features-list-h3 {
    font-size: 14px;
    line-height:calc(16/14);
    margin-bottom:10px;
    color: var(--primary-text-color);
    text-transform: uppercase;
}


/* WHAT WE DO */


.what-we-do-section {
    padding-top: 0;
    }



.what-we-do-item {
    position: relative;
    flex-basis: calc ((100%-60px)/3);
        }

.what-we-do-text {
    
    width: 100%;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 2;
    padding: 27px;
        font-size: 14px;
        line-height: calc(16/14);
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-background-color);
}

.what-we-do-item::after {
       display: inline-block;
        position: absolute;
        z-index: 1;
    content:"";
    width:100%;
    height:23.8%;
    bottom: 0;
    left:0;
    background-color: rgba(47, 48, 58, 0.8);
    
}


/* OUR TEAM */

.our-team {
    background-color: var(--portfolio-button-background-color);
}


.our-team-item {
    padding-bottom: 30px;
    
    flex-basis: calc((100% - 90px)/4);

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background-color: var(--primary-background-color);
    box-shadow:
        0 2px 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);

}



.social-list {
     gap:10px;
    flex-basis: calc((100%-30px)/4);
    justify-content: center;
    align-item: center;
}


 
.our-team-legend {
    padding-top: 30px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

 
}

.our-team-list-header {
    margin-bottom: 10px;
        font-weight: 500;
    color: var(--primary-text-color);

}


.our-team-list-paragraph {
    color: var(--secondary-text-color);
}

.social-icon {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center; color: var(--social-icon-color);
    border-radius: 50%;
    
    transition-property: color, background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fun);
    
    }
          .social-icon:hover,
          .social-icon:focus {
              color: var(--primary-background-color);
              background-color: var(--primary-accent-color);
    
          }

.social-svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    }



/* OUR CLIENTS */
      
.clients-list {
    flex-basis: calc((100%-150px)/6);
      
}


.clients-link {
   display: flex;
   
    outline: 1px solid var(--social-icon-color);
    border-radius: 4px;
   padding: 16px 32px;
    color: var(--social-icon-color);
    transition-property: outline, color, fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fun);
}

    
    .clients-icon {
        fill: currentColor;
            }

.clients-link:hover, .clients-link:focus {
    outline: 1px solid var(--primary-accent-color);
    fill: var(--primary-accent-color);
    color: var(--primary-accent-color);
} 


/* FOOTER */



.footer {
    padding-top: 60px;
    padding-bottom:60px;

    background-color: var(--footer-background-color);
}

.footer-container {
display: flex;
flex-wrap: wrap;
gap: 70px;
}


.logo-link-footer {
    padding-bottom: 20px;
}



.footer-message{
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
        color: var(--primary-background-color);
}


.footer-icon{
    background-color:rgba(255, 255, 255, 0.1);
    color: var(--primary-background-color);
}


.logo-studio-footer {
    color: var(--primary-background-color);
}

.address {   
    font-style:normal;
}

.address-location{ 
color: var(--primary-background-color);

}

.address-location:hover,
.address-location:focus {
    color: var(--primary-accent-color)
}

.email-phone {
    color: var(--secondary-accent-color);
}

.email-phone:hover,
.email-phone:focus {
    color: var(--primary-accent-color);
}

.footer-list-item:not(:last-child){
    margin-bottom: 9px;
}


/* PORTFOLIO */


/* PORTFOLIO-FILTER */

.portfolio-filter{
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
   
    }

.portfolio-button {

    padding: 4px 20px;
    border-radius: 4px;
    border: 2px solid transparent;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    
    color: var(--primary-text-color);
    background-color: var(--portfolio-button-background-color);

    transition-property: color, box-shadow, background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-fun);
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--primary-background-color);
    background-color: var(--primary-accent-color);
    box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 1px 2px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.1);
}


/* CARD */


.portfolio-card {
  
outline: 1px solid var(--outline);
transition-property: box-shadow;
transition-duration: var(--duration);
transition-timing-function: var(--timing-fun);
    }


.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow:
        1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06),
        0 1px 1px 0 rgba(0, 0, 0, 0.12);
}


.portfolio-link {
    position: relative;
}


.portfolio-link:hover .portfolio-overlay {
    opacity: 1;
    transform: translateY(0);
}

 
.portfolio-card-img {
    position: relative;
    overflow: hidden;
 }

 .portfolio-overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
         
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    
    color: var(--primary-background-color);
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform:translateY(100%);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
 }

 .text {
   
    align-items: centre;
    max-width:322px;
      
 }


 .portfolio-card-legend {
     padding: 20px 24px;
    
 }

 .portfolio-card-title {
     font-weight: 700;
     margin-bottom: 4px;
     font-size: 18px;
     line-height: 2;
     text-align: left;
     letter-spacing: 0.06em;
     
     color: var(--primary-text-color);
      }

 .portfolio-card-text {
    font-size: 16px;
    font-weight:400px;
    line-height: calc(30/16);
 }

 /* MODAL */

 .backdrop {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
display: flex;
align-items: center;
justify-content: center;
z-index: 2;

 background-color: rgba(0, 0, 0, 0.8);
 opacity:1;
transition: opacity 250ms linear;
visibility: visible;

}

 .backdrop.is-hidden {
visibility: hidden;
opacity: 0;
pointer-events:none; 


 }

 .modal {
    position: relative;   
    width: 528px;
    height: 581px;
    border-radius: 4px;

        
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-background-color);
    opacity: 1.0;
    scale: 1.0;
    transition: opacity 250ms linear, transform 1000ms linear;
    visibility: visible;
 }

 .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
 }

 .modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
 }

 .modal-close-svg {
    border: 1px solid rgba(0, 0, 0, 0.1);
 }

 